<div id="main-content" class="container">
  <div class="row">
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <label for="connect">WebSocket connection:</label>
                  <!-- <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                  <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                  </button> -->
              </div>
          </form>
      </div>
      <div class="col-md-12">
          <form class="form-inline">
              <div class="form-group">
                  <label for="name">Welcome</label>
                  <input type="text" [(ngModel)]="name" class="form-control" name="name" placeholder="Search here"> <br>
              </div>
              <button (click)="sendMessage()" class="btn btn-default" type="submit">Search</button>
          </form>
      </div>  
        <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
      <div>
          {{message}}
      </div>
  </div>
</div>
<router-outlet></router-outlet>
